.show_border {
    border: 1px solid black;
}

.main_info {
    margin-top: 20px;
}

.hidden_info {
    display: none;
}

.show_info {
    display: black;
}

.clear_margin_LR {
    margin-left: 0px;
    margin-right: 0xp;
}